.signup {
  background: orange;

  Label, a {
    font-family: Takeaway Sans, Avant Garde, Century Gothic, Helvetica, Arial, sans-serif;
    font-size: 15px;
  }

  a {
    color: orange;
  }

  h3 {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
  }
}

