// Components
@import './Components/Form/field';
@import 'components/Button/button';
@import "./View/login";
@import "components/header";
@import "components/footer";
@import "components/modal";
@import "components/Modal/Templates/menu";

//General

.hidden {
 //visibility: hidden;
  transition: visibility 0s 2s, opacity 2s linear;

  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
}
