.menu-template {
  height: 100%;
}

.top-content {
  background-color: orange;
  padding: 16px;

  .default-profile + .profile-data {
    display: inline-flex;
  }

  .default-profile {
    width: 64px;
    height: 64px;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #797878;
    margin-right: 20px;
    margin-top: 25px;
  }

  .profile-data {
    flex-direction: column;
    margin-right: 10px;

    #myaccount {
      font-family: Takeaway Sans, Avant Garde, Century Gothic, Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 26px;
      color: #fff;
      padding: 0;
      height: 32px;
      flex: 1 0 auto;
      line-height: 1;
    }

    #personnaldata {
      font-family: Roboto Slab, Arial, serif;
      font-size: 12px;
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }

  .close-button {
    position: absolute;
    padding: 20px;
    right: 0;
    top: 0px;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.3;
    color: #fff;

    :hover {
      opacity: 1;
    }

    :active {
      background-color: #1a1f36;
      transform: translateY(10%);
    }

    :before {
      transform: rotate(45deg);
    }

    :after {
      transform: rotate(-45deg);
    }

    :before, :after {
      display: block;
      position: relative;
      font-family: fontello, serif;
      font-weight: 400;
      line-height: 1;
      content: "\00d7"; /* This will render the 'X' */
      background-color: #333;
    }
  }

}

.bottom-content {
  position: relative;
  padding: 16px;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
  background: #f8f3ee;
  justify-content: space-between;

  .square-a {

  }

  .login-signup-container {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;

    :hover {
      background-color: #0953bd;
      color: #fff;
    }

    a {
      font-family: Takeaway Sans, Avant Garde, Century Gothic, Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 12px;
      width: calc(50% - 10px);
      line-height: 40px;
      height: 40px;
      color: #125fca;
      border: 1px solid #e7e7e7;
      user-select: none;
      padding: 0 16px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
    }
  }

  .atom-list {
    width: 100%;
    font-family: Takeaway Sans, Avant Garde, Century Gothic, Helvetica, Arial, sans-serif;
    font-weight: 400;
    list-style-type: none;
    cursor: pointer;
    line-height: 55px;
    font-size: 14px;
    padding: 0 18px;
    white-space: nowrap;
    background: #fff;
    color: #0a3847;
    position: relative;
    margin-bottom: 17px;
    border-radius: 3%;

    a {
      outline: 0;
      color: black;
      text-decoration: none;
    }

    li {
      margin-left: 25px;
    }

    a:first-child:hover {
      color: #5794f5;
      border-style: hidden;
      text-decoration: none;
    }

    li:before {
      font-family: FontAwesome, serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      /*--adjust as necessary--*/
      color: #5b5b5b;
      font-size: 18px;
      position: absolute;
      top: 1px;
      left: 0;
      margin-left: 15px;
    }


    .orders:before {
      content: "\f07a";
    }

    .favourites:before {
      margin-top: 55px;
      content: "\f004";
    }

    .adresses:before {
      margin-top: 110px;
      content: '\f022';
    }

    .points:before {
      content: "\f06b";
    }

    .stampcard:before {
      margin-top: 55px;
      content: "\f145";
    }

    .help:before {
      margin-top: 110px;
      content: "\f05a";
    }

    .country:before {
      content: "\f11d";
    }

    .language:before {
      margin-top: 55px;
      content: "\f1ab";
    }

    .logout:before {
      content: '\f015';
    }
  }
}



