@media only screen and (max-width: 600px) {
  header {
    display: flex;
    background-color: #35393f;
    justify-content: space-around;
  }

  img {
    margin-top: 5px;
    height: 80px;
  }


  .icon {
    * {
      color: white;
    }

    height: 100px;
    width: 200px;

    :active {
      transform: translateY(5%);
    }
  }

}

