* {
  padding: 0;
  margin: 0;
  color: #1a1f36;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    min-height: 100%;
    background-color: #ffffff;
  }

  a {
    text-decoration: none;
  }

  label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
  }

  Card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }

  #loginBody {
    align-items: center;
  }
}
